# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build

# Python
__pycache__
*.pyc
.pytest_cache
.coverage
htmlcov
venv

# Environment variables
.env
.env.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln