fastapi[all]
uvicorn
sqlalchemy
pymysql 
databases 
alembic
aiomysql
async-exit-stack
async-generator
passlib[bcrypt]
python-jose[cryptography]
python-multipart
python-dotenv
celery[redis]
celery[beat]
flower
sqlalchemy-celery-beat
mysql-connector